<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <p> Voici la page du potin n° <%=id%> <br/>
        Son auteur <%= the_gossip.author %><br/>
        Le contenu du potin : <%= the_gossip.content %><br/>
    </p>    
    <a href="/gossips/<%=id%>/edit/">Lien pour modifier le potin</a>
    <a href="/">Lien pour revenir à la page des potins</a>
  </body>
</html>